@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;
    background: url(bg.jpg);
    /* background-size: cover; */
    /* background-position: center; */
    /* height: 100vh; */
    
}
nav{
    position: fixed;
    width: 60px;
    margin-top: 150px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .4);

}
nav li{
    height: 50px;
    position: relative;
}
nav li a{
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .3s linear;
}
nav li:nth-child(1) a{
    background: #426782;
}
nav li:nth-child(2) a{
    background: #1da1f2;
}
nav li:nth-child(3) a{
    background: #2867b2;
}
nav li:nth-child(4) a{
    background: #333 
}
nav li:nth-child(5) a{
    background: #6e0d0d;
}
nav li:nth-child(6) a{
    background: rgb(233, 20, 20) 
}
nav li a i{
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 20px;
}
nav li a span{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display:none;
}
a:hover{
    z-index: 1;
    width: 190px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0,0,1px rgba(0, 0, 0, .3);
    /* */ if you wanr border radius  */
    /* border-radius: 50%;*/ */
}
ul li a:hover span{
    display: block;
    padding-left: 30%;
}